<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">计划采购项目信息</h3>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label" >货物类型</label>
        <div class="col-sm-10" ng-switch="user.isZcGly && !jhb.IsSubmitted">
          <select class="form-control" ng-model="item.HwlxId" ng-switch-when="true">
            <option value="">请选择货物类型</option>
            <optgroup label="{{lx.Name}}" ng-repeat="lx in getSubHwlx() track by $index">
              <option value="{{lx2.Id}}" ng-repeat="lx2 in getSubHwlx(lx.Id) track by $index">{{lx2.Name}}</option>
            </optgroup>
          </select>
          <span class="help-block" ng-switch-default><b>{{xb009[item.HwlxId].Name}}</b></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">通用名称</label>
        <div class="col-sm-10"  ng-switch="user.isZcGly && !jhb.IsSubmitted">
          <input class="form-control"  placeholder=""
                 ng-model="item.Tymc"
                 ng-switch-when="true">
          <span class="help-block" ng-switch-default><b>{{item.Tymc}}</b></span>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" >数量</label>
        <div class="col-sm-10" ng-switch="user.isZcGly && !jhb.IsSubmitted">
          <input class="form-control"  placeholder=""
                 ng-model="item.Sl"
                 ng-switch-when="true">
          <span class="help-block" ng-switch-default><b>{{item.Sl}}</b></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" >计量单位</label>
        <div class="col-sm-10" ng-switch="user.isZcGly && !jhb.IsSubmitted">
          <input class="form-control"  placeholder=""
                 ng-model="item.Jldw"
                 ng-switch-when="true">
          <span class="help-block" ng-switch-default><b>{{item.Tymc}}</b></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">预算单价（元）</label>
        <div class="col-sm-10" ng-switch="user.isZcGly && !jhb.IsSubmitted">
          <input class="form-control"  placeholder=""
                 ng-model="item.Ysdj"
                 ng-switch-when="true">
          <span class="help-block" ng-switch-default><b>{{item.Ysdj}}</b></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" >合计金额（元）</label>
        <div class="col-sm-10">
          <span ng-bind="item.Sl * item.Ysdj | currency: '￥'"></span>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label" >交货地点</label>
        <div class="col-sm-10" ng-switch="user.isZcGly && !jhb.IsSubmitted">
          <input class="form-control"  placeholder=""
                 ng-model="item.Jhdd" ng-switch-when="true">
          <span class="help-block" ng-switch-default><b>{{item.Jhdd}}</b></span>
        </div>
      </div>


    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" ng-click="actions.createOrSaveAndReturn();"
      ng-if="!jhb.IsApproved && jhb.Creator == user.ConceptId">保存并返回</button>
    <button class="btn btn-primary" ng-click="actions.createOrSave();"
      ng-if="!item.Id">保存并继续</button>
  </div>
</div>

