

<div class="page-header">
    <h1>
        采购申报表列表
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>

        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-sm-9">
        {{hello}}
        <table class="table">
            <thead>
                <tr>
                    <td>登记日期</td>
                    <td>项目编号</td>
                    <td>项目名称</td>
                    <td>负责人</td>
                    <td>状态</td>
                    <td>预算总额</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sbb in sbbList track by $index">
                    <td><span>{{sbb.DJRQ | date: 'yyyy-MM-dd'}}</span></td>
                    <td>{{sbb.XMBH}}</td>
                    <td>{{sbb.XMMC}}</td>
                    <td>{{sbb.FZR}}</td>
                    <td>{{xb005[sbb.Status].Name}}</td>
                    <td><span>{{sbb.YSZE | currency: '￥'}}</span></td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="#/sbb/show/{{sbb.SbbId}}" title="查看申报表">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>

                            <a class="green" href="">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="red" href="#/sbb/delete/{{sbb.SbbId}}" title="删除申报表">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>
                        </div>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-body">

                <h5>
                    <i class="fa fa-bullhorn"></i>
                    <strong>公告栏</strong>
                </h5>
            </div>
            <div class="panel-footer">
                云大应用中心试运行中，应用系统正在完善，如果您找不到您常用的应用系统，请告诉我们：na57@ynu.edu.cn
            </div>
        </div>
    </div>

</div><!-- /.row -->