<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">申报表信息</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="DJRQ" class="col-sm-2 control-label">登记日期</label>
                        <div class="col-sm-4">
                            <input class="form-control datepicker" id="DJRQ" ng-model="sbb.DJRQ" placeholder='点击此处填入日期'>
                        </div>
                        <label for="XMBH" class="col-sm-2 control-label">项目编号</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="XMBH" ng-model="sbb.XMBH" placeholder="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="CGLX">采购类型</label>
                        <div class="col-sm-4">
                            <select id="CGLX" ng-model="sbb.CGLX">
                                <option value="">请选择</option>
                                <optgroup label="货物">
                                    <option value="ef7310b8-2d87-4413-acca-40f74a5d4447">货物(国产)</option>
                                    <option value="80d41a31-d5df-4834-bc3c-a5ce7b33df93">货物(进口)</option>
                                </optgroup>
                                <option value="b2d32432-a98c-4623-9ec4-ece821df4069">工程</option>
                                <option value="79a3c345-ecbc-4ed6-8f08-b0d88167e375">服务</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="XMMC" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="XMMC" ng-model="sbb.XMMC" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FZR" class="col-sm-2 control-label">负责人</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="FZR" placeholder="" ng-model="sbb.FZR" />
                        </div>
                        <label for="JBR" class="col-sm-2 control-label">经办人</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="JBR" placeholder="" ng-model="sbb.JBR">
                        </div>
                        <label for="JBR_LXDH" class="col-sm-2 control-label">联系电话</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="JBR_LXDH" placeholder="" ng-model="sbb.JBR_LXDH">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="YSZE" class="col-sm-2 control-label">预算总额</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="YSZE" placeholder="0.00" ng-model="sbb.YSZE">
                        </div>
                        <label for="CWBM" class="col-sm-2 control-label">财务编码</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="CWBM" placeholder="" ng-model="sbb.CWBM">
                        </div>
                        <label for="JFLY" class="col-sm-2 control-label">经费来源</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="JFLY" placeholder="" ng-model="sbb.JFLY">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="GZLY" class="col-sm-2 control-label">购置理由</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="GZLY" ng-model="sbb.GZLY"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" ng-click="actions.save();">
                                保存
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="panel panel-info" ng-if="sbb && sbb.SbbId">
            <div class="panel-heading">
                <h3 class="panel-title">采购项目清单</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>类型代码</td>
                            <td>通用名称</td>
                            <td>数量</td>
                            <td>计量单位</td>
                            <td>预算单价(元)</td>
                            <td>合计金额(元)</td>
                            <td>交货地点</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in sbbItems track by $index">
                            <td>{{item.XH}}</td>
                            <td>{{item.LXDM}}</td>
                            <td>{{item.TYMC}}</td>
                            <td>{{item.SL}}</td>
                            <td>{{item.JLDW}}</td>
                            <td>{{item.YSDJ | currency:'￥'}}</td>
                            <td>{{item.HJJE | currency:'￥'}}</td>
                            <td>{{item.JHDD}}</td>
                            <td>操作</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a class="btn-info btn" href="#/sbb/createSbbItem/{{sbb.SbbId}}">添加采购项</a>
            </div>
        </div>

        <div class="panel panel-success" ng-if="sbbLogs">
            <div class="panel-heading">
                <h3 class="panel-title">项目日志</h3>
            </div>
            <div class="panel-body">
                <div class="profile-feed" ng-repeat="log in sbbLogs track by $index">
                    <div class="profile-activity clearfix">
                        <div>
                            <a class="user" href="#" data-conceptid="{{log.UserId}}"> {{log.UserId}} </a>
                            {{log.ActionText}}
                            <b>{{log.ObjectText}}</b>
                            <div class="time">
                                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                {{log.DateCreated | date: 'yyyy-MM-dd HH:mm'}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>