<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">登录</div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">

            <div class="control-group">
                <label class="control-label">使用第三方帐号登录</label>
                <div class="controls">
                    <a class="nagu-btn-qqlogin" href="http://{{host}}/Member/QQLogin?returnUrl={{returnUrl}}">
                        <img src="http://ngapi.ynu.edu.cn/Content/qq/Connect_logo_3.png" />
                    </a>
                    <br /><br />
                    <a class="nagu-btn-weiboLogin" href="http://{{host}}/Member/WeiboLogin?returnUrl={{returnUrl}}">
                        <img src="http://ngapi.ynu.edu.cn/Content/lib/weibo/login240.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>